.card {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns: main content and image */
    align-items: center;
    padding: 1.25em;
}

.container{
    max-width: 90%;
    padding: 2em;
}

.employee-image {
    /*max-width: 200px; !* Adjust the maximum width of the image as needed *!*/
    width: 90%;
    border-radius: 10%; /* Make the image circular */
    margin-left: 1rem; /* Add some spacing between the content and the image */
}

.card-content {
    flex: 1; /* Занимаем всю доступную ширину контейнера */
    padding: 1.5em;
    background-color: #f9f9f9; /* Цвет фона контейнера */
    border-radius: 0.625em; /* Закругленные углы */
    box-shadow: 0 0.3125em 0.625em rgba(0, 0, 0, 0.1); /* Тень для контейнера */
    /*padding-bottom: 10px;*/
    /*padding: 10px;*/
}

.card-content h2 {
    color: #006cdc; /* Цвет заголовка */
    font-size: 1.5em; /* Размер шрифта заголовка */
    margin-bottom: 0.625em; /* Отступ снизу для заголовка */
}

.card-content p {
    margin-bottom: 0.3125em; /* Отступ снизу для абзацев */
}

.card-content p:last-child {
    margin-bottom: 0; /* Убираем отступ снизу для последнего абзаца */
}

/* ... Your existing CSS styles ... */

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; /* Начальное значение прозрачности для анимации */
  transition: opacity 0.3s ease; /* Анимация изменения прозрачности */
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #777;
  width: 60%;
  color: black;
  border-radius: 8px;
  position: relative;
  display: flex; /* Добавим flex контейнер для размещения элементов внутри */
}

/* Стили для текстовой части модального окна */
.modal-text {
  flex: 2; /* Установим вес элемента flex, чтобы он занимал 2/3 ширины контейнера */
}

/* Стили для изображения препода */
.modal-image {
  flex: 1; /* Установим вес элемента flex, чтобы он занимал 1/3 ширины контейнера */
  text-align: center; /* Центрируем содержимое по горизонтали */
    /*width: 100px;*/
}

.modal-image img {
  max-width: 100%; /* Устанавливаем максимальную ширину для изображения */
  max-height: 300px; /* Ограничим максимальную высоту изображения */
}


.close {
  position: absolute;
  top: 5px; /* Увеличим вертикальное смещение */
  right: 15px; /* Уменьшим горизонтальное смещение */
  font-size: 30px; /* Увеличим размер крестика */
  font-weight: bold;
  color: black;
  cursor: pointer;
}
