body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    color: #004d99; /* Голубой цвет кафедры */
    margin-bottom: 10px;
}

main {
    text-align: center;
}

.content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #007BFF;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}

.telegram-link {
    text-align: center;
    margin-top: 20px;
}

.telegram-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0088cc; /* Цвет кнопки Telegram */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.telegram-button:hover {
    background-color: #005580; /* Измененный цвет при наведении */
}