.section .tgme_widget_message_text {
    font-size: 1.2em;
}


.single-image {
    max-height: 25em;
    max-width: 25em;
    object-fit: cover;
    border-radius: 0.3125em;
    margin-bottom: 0.625em;
}

.multi-image {
    max-height: 18.75em;
    object-fit: cover;
    border-radius: 0.3125em;
    margin-bottom: 0.625em;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.625em;
    margin-bottom: 1.25em;
}

.pagination a {
    display: inline-block;
    padding: 0.3125em 0.625em;
    background-color: var(--bmgray);
    color: white;
    text-decoration: none;
    border-radius: 0.3125em;
}


.telegram-button {
    display: inline-block;
    padding: 0.625em 1.25em;
    background-color: var(--bmblue);
    color: white;
    text-decoration: none;
    border-radius: 0.3125em;
    margin-top: 1em;
    transition: background-color 0.3s ease;
}

.telegram-button:hover {
    background-color: var(--bmgray); /* Lighter background color on hover */
}

.pagination a.active {
    background-color: var(--bmblue);
    color: white;
    font-weight: bold;
}

.pagination .ellipsis {
    color: var(--bmgray); /* Цвет для многоточия */
}


